<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/views/style.css" />
    <title>LIST APP</title>
  </head>
  <body>
    <header>
      <h2>TO DOリスト</h2>
    </header>
    <div class="list">
      <button class="btn">+ 追加</button>
      <ul>
        <li>トイレットペーパー買う</li>
        <li>掃除機かける</li>
        <li>窓拭く</li>
        <li>車洗う</li>
        <li>洗濯</li>
      </ul>
    </div>
  </body>
</html>
