<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/views/style.css" />
    <title>LIST APP</title>
  </head>
  <body>
    <header>
      <h2>TO DOリスト</h2>
      <p>LIST APPはやることをリストアップするサービスです</p>
    </header>
    <div class="main">
      <a href="/index" class="index-button">一覧を見る</a>
    </div>
  </body>
</html>
